<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <title>ETL - Hurtownie Danych</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet"></link>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link href="css/sb-admin.css" rel="stylesheet"></link>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" style="height:50px">
        <span class="navbar-brand">Hurtownie Danych - Projekt ETL</span>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" id="addingSpinner" style="display:none">
                    <img src="../lg.recycle-spinner.gif" style="height:40px"></img>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" id="newproductId" placeholder="Product ID"></input>
                            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="newProductButton">
                  Find product
                </button>
              </span>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Example DataTables Card-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <span>Products</span>
                </li>
            </ol>
            <div class="card mb-3" id="products-table">
                <div class="card-header" id="products-table">
                    Products - {{devices.length}} found</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Ceneo ID</th>
                                    <th>Brand</th>
                                    <th>Model</th>
                                    <th>Type</th>
                                    <th>Additional info</th>
                                    <th>Review count</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="device in devices" v-bind:data-deviceid="device.deviceId">
                                    <td>{{ device.deviceId }}</td>
                                    <td>{{ device.deviceBrand }}</td>
                                    <td>{{ device.deviceModel }}</td>
                                    <td>{{ device.deviceType }}</td>
                                    <td>{{ device.deviceAdditionalInfo }}</td>
                                    <td>{{ device.opinions.length }}</td>
                                    <td style="padding:3px">
                                        <a v-bind:href="'/products/'+ device.deviceId" style="display:block; width:38px; float:left; margin-left:0"><button title="Product info" class="btn btn-info btn-xs"><i class="fa fa-question-circle" aria-hidden="true"></i></button></a>
                                        <button class="btn btn-danger btn-xs" style="float:right" v-on:click="removeDevice(device.deviceId)" title="Remove product"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="vendor/datatables/jquery.dataTables.js"></script>
        <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin.min.js"></script>
        <script src="js/productsHandler.js"></script>
        <script src="../js/newProductHandler.js"></script>


    </div>
</body>

</html>
